.navbar {
    background: rgba(0, 0, 0, .8)!important;
    font-size: 1.4rem;
}
.navbar li {
    border-radius: 16px;
}
.navbar-brand img {
    height:3rem;
}
hr {
    border-width: .5rem;
    width: 100%;
    height: auto;
}
p {
    font-size: 1.2rem;
}
video {
    width: 100%;
    height: auto;
}
.carousel-item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.picture img{
    border-radius: .5rem;
    transition:.2s;
    width: 100%;
    height: auto;
}
.picture img:hover {
    border: 2px solid #ccc;
    transform: scale(1.05);
}

.logreg {
    margin-top: 32px;
}
.flash_messages {
    margin-top: 16px;
    margin-bottom: 16px;
}
