{% extends "layout.html" %}

{% block slider %}
<!-- Slideshow images-->
<div id="slide" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#slide" data-slide-to="0" class="active"></li>
        <li data-target="#slide" data-slide-to="1"></li>
        <li data-target="#slide" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url(static/images/slide3.jpg)">
            <div class="carousel-caption text-center mb-4">
                <h1 class="mb-4"> La mulți ani!</h1>
                <a href="#home" class="btn btn-primary btn-lg">Click aici</a>
            </div>
        </div>
        <div class="carousel-item" style="background-image: url(static/images/slide2.jpg)">
        </div>
        <div class="carousel-item" style="background-image: url(static/images/slide1.jpg)">
        </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#slide" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slide" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<!-- END Slideshow images-->
{% endblock %}
{% block content %}
    <!-- Description -->
    <div id="description" class="container-fluid bg-light text-center" style="padding-bottom:70px">
        <h1>La mulți ani iubire!</h1>
        <p>De ziua ta am pregătit un <span class="font-weight-bold">site</span> doar al nostru.</p>
        <p>Am vrut să îți scriu ceva mai mult și m-ai drăguț dar nu am avut timp :(</p>
        <h4>Te iubesc cel mai mult!</h4>
        <h3>Acuma poți să dai in jos...</h3>
    </div>
    <!-- END Description -->

    <div class="container-fluid">
        <hr>
    </div>

    <!--Gallery-->
    <div id="gallery" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1 class="my-4 text-center">Galerie foto</h1>
        <div class="row">
          <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic1.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic1.jpg" alt="city">
            </a>
          </div>
          <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic2.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic2.jpg" alt="city">
            </a>
          </div>
          <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic3.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic3.jpg" alt="city">
            </a>
          </div>
          <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic4.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic4.jpg" alt="city">
            </a>
          </div>
          <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
	          <a target="_blank" href="static/images/pic5.jpg" data-lightbox="mygallery">
	              <img class="img-responsive" src="static/images/pic5.jpg" alt="city">
	          </a>
	        </div>
	        <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic12.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic12.jpg" alt="city">
            </a>
	        </div>
	        <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic7.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic7.jpg" alt="city">
            </a>
	        </div>
	        <div class="col-md-3 col-xs-4 col-6 mb-4 picture">
            <a target="_blank" href="static/images/pic10.jpg" data-lightbox="mygallery">
                <img class="img-responsive" src="static/images/pic10.jpg" alt="city">
            </a>
	        </div>
        </div>

    </div>
    <!--END Gallery-->

    <div class="container-fluid">
        <hr>
    </div>

    <!--Galerie video -->
    <div id="gallvideo" class="container-fluid bg-light" style="padding-top:70px;padding-bottom:70px">
        <h1 class="my-4 text-center">Galerie video</h1>
        <div class="row">
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video1.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video2.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video3.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video4.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video5.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video6.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video7.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-md-3 col-12 py-2">
                <video width="100" controls>
                    <source src="static\videos\video8.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
    <!--END Gallery video-->

    <div class="container-fluid">
        <hr>
    </div>
{% endblock%}