<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/lightbox.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <title>Ab1May - {{ title }}</title>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="80" class="bg-light">
        {% block header %}{% endblock%}
        <!--NAVBAR-->
        <nav id="home" class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="margin-bottom: 70px;">
            <a class="navbar-brand" href="#slide"><img src="static/images/logo.jpeg"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                {% if request.path == '/index' or request.path == '/'%} 
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#description">Descriere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery">Galerie foto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallvideo">Galerie video</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}#description">Descriere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}#gallery">Galerie foto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('index')}}#gallvideo">Galerie video</a>
                        </li>
                    </ul>
                {% endif %}
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('account')}}">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="logout" href="{{url_for('logout')}}">Logout</a>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <!--END NAVBAR-->
        <!-- Messages -->
        <div class="container ">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="flash_messages alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith%}
        </div>
        <!-- END Messages -->
        {% block content %}{% endblock %}
        <!-- Footer-->
        <footer class="container bg-light small" style="padding-top:70px;padding-bottom:70px">   
            <address>
                    Written by <a target = "_blank" href="eduardstefan290@gmail.com.com">Eduard Stefan</a><br> 
                    Visit my <a target = "_blank" href = "https://github.com/edustef?tab=repositories">github page</a><br>
                    Palomares, Cuevas de Almanzora<br>
                    Spain
            </address>
        </footer>
        <!-- End Footer-->
        <!-- Scrips necesary for bootstrap-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="static/js/lightbox.js"></script>
        <script src="static/js/script.js"></script>    
    </body>
</html>