<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/lightbox.css" rel="stylesheet">
        <link href="static/styles.css" rel="stylesheet">
        <title>Ab1May - {{ title }}</title>
    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="80" class="bg-light">
        {% block content %}{% endblock %}
        <!-- Footer-->
        <footer class="container bg-light " style="padding-top:70px;padding-bottom:70px">   
            <address>
                    Written by <a target = "_blank" href="eduardstefan290@gmail.com.com">Eduard Stefan</a><br> 
                    Visit my <a target = "_blank" href = "https://github.com/edustef?tab=repositories">github page</a><br>
                    Palomares, Cuevas de Almanzora<br>
                    Spain
            </address>
        </footer>
        <!-- End Footer-->
        <!-- Scrips necesary for bootstrap-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="static/js/lightbox.js"></script>
        <script src="static/js/script.js"></script>    
    </body>
</html>